* {
    border: none;
    border-bottom: 0;
    border-radius: 0;
    /*font-weight: bold;*/
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #d73737;
    color: #ffffff;
}

#workspaces button {
    font-family: FixedFixedsys;
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    font-family: FixedFixedsys;
    background-color: #d73737;
    color: #000000;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,

#clock {
    font-family: Hack;
    padding: 0 8px;
    background-color: #d73737;
}

#battery {
    font-family: Hack;
    padding: 0 8px;
    background-color: #d73737;
    color: #ffffff;
}

#battery.charging {
    font-family: Hack;
    padding: 0 8px;
    color: #ffffff;
    background-color: #d73737;
}

@keyframes blink {
    to {
	padding: 0 8px;
        background-color: #ffffff;
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    font-family: Hack;
    padding: 0 8px;
    background-color: #d73737;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    font-family: Hack;
    padding: 0 8px;
    background-color: #d73737;
}

#backlight {
    font-family: Hack;
    padding: 0 8px;
    background-color: #d73737;
}

#network {
    font-family: Hack;
    padding: 0 8px;
    background-color: #d73737;
}

#network.disconnected {
    font-family: Hack;
    padding: 0 8px;
    background-color: #d73737;
}

#pulseaudio {
    font-family: Hack;
    padding: 0 8px;
    background-color: #d73737;
    color: #ffffff;
}

#pulseaudio.muted {
    font-family: Hack;
    padding: 0 8px;
    background-color: #d73737;
    color: #2a5c45;
}
